* {
font-family: sans-serif;
}

body{
  background-color: gray;
    
}

#menu{
  position: fixed;
  background-color: black;
  padding: 1%;
  width: 20%;
  height: 80%;
  display: block;
  border: 5px solid gray;
  padding-bottom: 100%;
  
  -webkit-text-fill-color: white;

}



#parrafo1{
  
background-color:cyan;
color: white;
padding: 1%;
padding-left: 25%;
display: inline-block;
font-size: x-large;
width: 67%;
height: 50%;
}


#parrafo2{
  background-color: yellow;
  color: white;
  padding: 1%;
  padding-left: 25%;
  font-size: x-large;  
  display: inline-block;
  font-size: x-large;
  width: 67%;
  height: 50%;
  }
  
#parrafo3{
  background-color:orange;
 
  color: white;
  padding: 1%;
  padding-left: 25%;
  font-size: x-large;
  display: inline-block;
font-size: x-large;
width: 67%;
height: 50%;
}
#parrafo4{
  background-color:red;
  display: block;
  color: white;
  padding: 1%;
  padding-left: 25%;
  font-size: x-large;
  display: inline-block;
  font-size: x-large;
  width: 67%;
  height: 50%;
  }
#menu:hover{
  color: green !important;
  
}  

.contenedor_infogatos{
  background-color: grey;

}

.container-fluid{
  background-color: aqua;
  text-align: center;
}

.col{
  text-align: justify;
  margin-top: 1%;
  border-style: double;
  border: 1cm;
}

.col-5{
  background-color: lavender;
  align-items: center;
  margin-top: 20%;
}

#titu_anim{
text-decoration: underline;
text-decoration-color: grey;
font-size: xx-large;
}

.col-7{
  background-color: lightsalmon;
  text-align: justify;
}

#caract_bio_anim{
  margin: auto;
  
  border-color: black lightsalmon black lightsalmon;
  border-style: outset;
}




